.page-header {
    width: 100%;
    min-height: 40vh;

    display: flex;
    align-items: center;

    margin-top: -43px;

    color: white;
    background: url('../img/bg-pattern.png'), $theme-secondary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);

    &.post-background {
        position: relative;

        background-size: cover;
        background-repeat: no-repeat;

        overflow-x: hidden;

        &::after {            
            content: '';
            position: absolute;
            z-index: 10;

            width: 100vw;
            height: 100%;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: rgba(0,0,0,0.5);
        }
    }

    .container {
        z-index: 50;
    }
}