.post-item {
    display: block;
    width: 100%;

    padding: 1.6rem;

    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
    
    img {
        width: 100%;
        margin-bottom: 30px;
    }

    .content {
        margin: 0;
        margin-left: 10px;

        color: #6c757d;

        .title {            
            color: #212529;
        }
    }

    @media (min-width: 992px) {
        &.has-thumbnail {
            display: flex;
            align-items: center;
        }
        
        
        img {
            width: 100%;
            max-width: 250px;

            margin: 0;
        }
    }
}